.galeria-conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.botao-mobile {
  display: none;
}


.galeria-conteudo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: all 0.4s ease;
}

.galeria-conteudo li{
  transition: 0.5s;
  position: relative;
}


.galeria-conteudo p{
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.884), transparent);
  top: 0px;
} 

.galeria-conteudo span{
  position: absolute;
  left: 30px;
  bottom: 60px;
  text-transform: uppercase;
  color: white;
  z-index: 1;
}

.galeria-conteudo li:hover{
  transform: translateY(-30px);
}

@media (max-width: 650px){
  
  .galeria-conteudo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    flex-wrap: nowrap;
    justify-content: none;
  }

  .galeria-conteudo li {
    max-width: 600px;
    height: 150px;
  }

  .galeria-conteudo img{
    width: 100%;
    object-fit: cover;
    object-position: 75% 10%;
    transition: all 0.4s ease;
  }

  .botao-desktop{
    display: none;
  }

  .botao-mobile {
    display: initial;
  }
}

@media (max-width: 500px){
  .galeria {
    overflow-y: scroll;
    overflow-y: hidden;
    }

    .galeria-conteudo {
      display: flex;
      gap: 10px;
      min-width: 1000px;
      flex-wrap: nowrap;
      justify-content: center;
  }

  .galeria-conteudo li {
    max-width: initial;
    height: initial;
  }
}

