.galeria-conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}

.galeria-conteudo a{
  position: relative;
}

.galeria-conteudo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.galeria-conteudo li span{
  position: absolute;
  text-transform: uppercase;
  left: 20px;
  bottom: 20px;
  background-color: aqua;
 }


 .galeria-conteudo li img{
  transition: 1s;
 }

 .galeria-conteudo li:hover img{
  padding-bottom: 20px;
 }

@media (max-width: 1200px){
 
}

@media (max-width: 500px){
  .galeria {
    overflow-y: scroll;
    overflow-y: hidden;
    }

    .galeria-conteudo {
      display: flex;
      gap: 10px;
      min-width: 1000px;
      flex-wrap: nowrap;
      justify-content: center;
  }
}




/* .galeria-conteudo li:nth-child(8) img{
  object-fit: auto;
} */

