*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 15px;

}

:root{
  --cor0: hsl(0, 0%, 100%);
  --cor1: hsl(0, 0%, 55%);
  --cor2: hsl(0, 0%, 41%); 
  --cor3: hsl(0, 0%, 0%);
}

li {
  list-style: none;
}

.font1 {
  font: 400 1.125rem/1.35 "Alata", sans-serif;
}

.font1-grande {
  font: 300 4rem/1.125 "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: var(--cor0);
}
