.header-container{
  background-image: url(img/imagens/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

header{
  margin: 0 auto;
  max-width: 1640px;
  padding: 60px 20px;
  box-sizing: border-box;
  display: grid;
  align-content: start;
  gap: 120px;
}

@media (max-width: 600px){

}

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

header ul{
  display: flex;
  gap: 10px;
}


header ul li{
 transition: 0.5s;
 padding: 10px;
}

header ul li:hover{
transform: rotate(360deg);
}

header ul li a {
  color: var(--cor0);
  text-decoration: none;
}

.immersive {
  display: grid;
  place-content: end;
  box-sizing: border-box;
  text-transform: uppercase;
  flex: 1;
  padding: 10px 20px;
  font-size: 2rem;
}


.immersive h1 {
  border: 1px solid black;
  justify-content: start;
}

@media (max-width: 600px){

}