.header-container{
  background-image: url(img/imagens/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 200px;
}

#menu-button{
  display: none;
}

header{
  margin: 0 auto;
  max-width: 1640px;
  padding: 60px 20px;
  box-sizing: border-box;
  display: grid;
  align-content: start;
  gap: 120px;
}


header nav {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: end;
  gap: 50px;
}

header ul{
  display: flex;
  gap: 10px;
}


header ul li{
 transition: 0.5s;
 padding: 10px;
}

header ul li:hover{
transform: rotate(360deg);
}

header ul li a {
  color: var(--cor0);
  text-decoration: none;
}

.immersive {
  display: grid;
  place-content: start;
  box-sizing: border-box;
  text-transform: uppercase;
  flex: 1;
  font-size: 2rem;
  margin-bottom: 300px;
}


.immersive h1 {
  border: 2px solid white; 
  padding: 30px 40px;
  max-width: 24ch;
}




@media (max-width: 1400px){
  .immersive {
    margin-bottom: 200px;
  }
} 



@media (max-width: 1000px){
  .immersive {
    border: none;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .immersive h1 {
    border: none; 
    padding: 0px;
    max-width: 20ch;

  }
  header{
    gap: 60px;
  }

  .header-container{
    margin-bottom: 100px;
  }
}


@media (max-width: 750px){
  .immersive {
    margin-top: 0px;
    margin-bottom: 100px;
  }

  header nav {
    gap: 30px;
  }

  #menu{
    display: none;
  }
  
  #menu li {
    padding: 0px;
    margin: 10px 0px;
  }

  #menu-button{
    display: initial;
    align-self: center;
  }
}

@media (max-width: 600px){
  .immersive {
    margin-bottom: 0px;
  }
}