main {
  margin: 0 auto;
  max-width: 1640px;
  padding: 60px 20px 0px 20px;
}

.principal {
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  margin-bottom: 300px;
}

#interactive img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  object-position: center;
}

#interactive-text{
  padding: 100px 40px 40px 100px;
  position: absolute;
  left: 500px;
  bottom: 0px;
  background-color: white;
}

#interactive-text h1{
  margin-bottom: 10px;
}

#interactive-text p{
 max-width: 85ch;
}

@media (max-width: 1200px){
  .principal {
    position: unset;
    margin-bottom: 200px;
  }
  
  #interactive-text{
   position: unset;
   text-align: center;
   padding: 50px;
   } 


}

@media (max-width: 800px){
  .principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
  } 
}


@media (max-width: 750px){
  .principal {
    grid-template-columns: 1fr; 
  }
}

@media (max-width: 600px){
  #interactive-text h1{
    font-size: 2rem;
  }
}